@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}

